.idea
/cmake-build-*
/mpi/mpi_chunks
/random_strings/*.bin
/perf-stats/seq_measurements/massif_seq_500MB.out
/perf-stats/omp_measurements/threads_2/massif_omp_2t_500MB.out
/perf-stats/omp_measurements/threads_4/massif_omp_4t_500MB.out
/perf-stats/omp_measurements/threads_8/massif_omp_8t_500MB.out
/perf-stats/mpi_measurements/2r/massif_mpi_2r_500MB.out
/perf-stats/mpi_measurements/4r/massif_mpi_4r_500MB.out
/perf-stats/mpi_measurements/8r/massif_mpi_8r_500MB.out
/perf-stats/mpi_omp_measurements/2r_4t/massif_mpi_omp_2r_4t_500MB.out
/perf-stats/mpi_omp_measurements/2r_8t/massif_mpi_omp_2r_8t_500MB.out
/perf-stats/mpi_omp_measurements/4r_2t/massif_mpi_omp_4r_2t_500MB.out
/perf-stats/mpi_omp_measurements/4r_4t/massif_mpi_omp_4r_4t_500MB.out
/perf-stats/mpi_omp_measurements/8r_2t/massif_mpi_omp_8r_2t_500MB.out
/documentation/img/unisa.png
